---
title: CSS stylesheet
---

/* Social links */

.social-links{text-align:center;}

.social-share-element{
    width: 40px;
    height: 40px;
    background-color: #666;
    background-image: url("{{ site.baseurl }}/public/images/social.png");
    display: inline-block;
    margin-right: 2px;
    border-bottom: none;
    border-radius: 20px;
}

.social-share-element.social-github{background-position: -160px 40px;}
.social-share-element.social-twitter{background-position: 0px 0px;}
.social-share-element.social-google-plus{background-position: -80px 0px;}
.social-share-element.social-stackoverflow{background-position: -200px 40px;}
.social-share-element.social-linkedin{background-position: -120px 0px;}
a.social-share-element:hover{background-color: #22C3AA;}