<div class="container content">
	<p>Please feel free to contact me through...</p>

	<div class="social-links">
		<a class="social-share-element social-twitter" href="{{ site.author.twitter }}" title="Follow me on Twitter"></a>
		<a class="social-share-element social-google-plus" href="{{ site.author.google_plus }}" title="Follow me on Google Plus"></a>
		<a class="social-share-element social-github" href="{{ site.author.github }}" title="Follow me on Github"></a>
		<a class="social-share-element social-stackoverflow" href="{{ site.author.stackoverflow }}" title="Follow me on StackOverflow"></a>
		<a class="social-share-element social-linkedin" href="{{ site.author.linkedin }}" title="Follow me on LinkedIn"></a>
	</div>
</div>